*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.nav1{
    background-color: #f5f5f5;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fa-house{
    color: black;
    font-size: 20px;
}

.home{
    color: gray;
    font-family: sans-serif;
    font-size: 20;
}

.home1 li{
    display: inline-block;
    list-style: none;
    

}
.line{
    width: 35px;
    height: 1px;
    background-color: #000;
}

.keep{
    font-family: sans-serif;
    color: black;
    font-weight: 600;
}
.beauty{
    color: grey;
    font-family: sans-serif;
    font-size: large;
}
.cont-add{
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #000;
}

.cont-para{
    color: rgb(107, 102, 102);
    font-family: sans-serif;
    font-weight: 500;
    font-size: 15px;
}
.cont-dir a{
    color: #2c2b2b;
    text-decoration: underline;
    font-family: sans-serif;
    font-weight: 600;
}

.main-cont{
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #000;
}

.num p{
    font-family: sans-serif;
    color: #000;
}
.cont-info{
    color: gray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.num{
    line-height: 10px;
}

  /* Form Started */
#Name{
    width: 265px;
    height: 45px;
    background-color: #f5f5f5;
}
#Email{
    width: 265px;
    height: 45px;
    background-color: #f5f5f5;
}

#Messenger{
    background-color: #f5f5f5;

}

#Submit{
    width: 120px;
    height: 45px;
    font-weight: 600;
    font-family: sans-serif;
    background-color: black;
    color: white;
}

#Submit:hover{
    background-color: rgb(110, 160, 151);
    color: #f5f5f5;
}
@media only screen and (max-width: 1190px) {
#Name{
    width:400px;
}
#Email{
    width: 400px;
    margin-top: 20px;
}

}

/* Form Ended */

@media only screen and (max-width: 768px) {
.com{
    margin-left: 100px;
}
}
    

.nav-item a{
    line-height: 30px;
}

.nav-item a:hover{
   color: black !important;
   font-weight: 600;
   text-decoration: underline;
}



    /* navigtion css */

    .nav-link{
        color: black;
        font-weight: 300;
        font-family: sans-serif;
    }
    
    .nav-boxes{
        /* border: 1px solid #000; */
        height: 100px;
    }
    
    .nav-boxes h1{
        font-family: 'Noto Serif Khojki', serif;
        font-weight: bold;
    }
    
    .nav-boxes span{
        font-size: 15px;
    }
    
    .free-shipping{
        background-color: #f3f3c0;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .free-shipping h6{
        color: #000000;
        word-spacing: 3px;
        font-weight: 600;
        font-size: 15px;
        font-family: sans-serif;
    }
    
    .icons{
        display: flex;
        align-items: center;
        justify-content: end;
    }
    
    .icons ul li{
        display: inline-block;
        padding-right: 40px;
    }
    
    .icons a{
        font-size: 25px;
    }
    
    .icons i{
        color: #000000;
    }
    
    .search-bar{
        width: 220px;
    }
    
    
    @media only screen and (max-width: 864px) {
    .icons-remove{
        display: none;
    }
    
    .search-bar{
        display: none;
    }
    
    .logo{
        text-align: center;
    }
    
    
    }
    /* navigtion css */
    
    
    
    
    .nav-link{
        font-family: 'Noto Serif Khojki', serif;
            font-size: 15px;
            font-weight: 600;
            font-style: normal;
            text-transform: none;
            letter-spacing: 0em;
    }
    
    .fa-bars{
        font-size: 40px;
    }
    
